* {
  transition: 250ms;
}

body {
  background: linear-gradient(225deg, #8c396e, #76305d);
  color: rgba(255, 200, 200);
}

h1 {
  margin: 30px auto;
  text-align: center;
}

#menu-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(225deg, #76305d, #8c396e);
  box-shadow: -5px 5px 10px #692a52, 5px -5px 10px #9d407c;
  z-index: 10;
}

#menu-btn input {
  position: absolute;
  opacity: 0.01;
  width: 100%;
  height: 100%;
  top: -4px;
  left: -4px;
  z-index: 10;
}

#menu-icon span {
  position: absolute;
  top: 0px;
  left: 0;
  text-align: center;
  font-size: 50px;
  width: 100%;
  height: 100%;
}

#menu-icon span:first-of-type {
  top: -25px;
}

#menu-icon span:nth-of-type(2) {
  top: -12.5px;
}

#menu-btn input:checked + #menu-icon span:first-of-type {
  transform: rotate(45deg);
  top: -12.5;
  left: 2.5px;
}

#menu-btn input:checked + #menu-icon span:nth-of-type(2) {
  transform: rotate(-45deg);
  top: 0;
  left: -12.5px;
}

#menu-btn input:checked + #menu-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  top: 0;
  left: 12.5px;
}

#menu-btn input:checked + #menu-icon span:last-of-type {
  transform: rotate(-45deg);
  top: -12.5;
  left: -2.5px;
}

#menu-btn input:checked ~ #menu-items {
  opacity: 1;
  height: auto;
}

#menu-btn input:not(:checked) ~ #menu-items {
  opacity: 0.01;
  height: 0;
}

#menu-items {
  position: absolute;
  top: 50px;
  min-width: 100px;
  width: auto;
  padding: 5px;
  border-radius: 15px;
  background: #833567;
  box-shadow: inset -5px 5px 10px #692a52, inset 5px -5px 10px #9d407c;
}

#menu-items p:hover {
  color: rgba(255, 150, 150, 0.8);
}

#forms {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  margin: 0 auto;
  width: 75%;
  min-height: 200px;
  border-radius: 55px;
  background: linear-gradient(225deg, #76305d, #8c396e);
  box-shadow: -5px 5px 10px #752f5c, 5px -5px 10px #913b72;
}

#square {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1%;
  height: 1%;
  align-self: center;
}

#rectangle {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1%;
  height: 1%;
  align-self: center;
}

#circle {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1%;
  height: 1%;
  align-self: center;
}

#square::after {
  content: "Cuadrado";
  cursor: pointer;
  position: absolute;
  right: calc(50% - 75px);
  color: rgba(255, 200, 200);
  top: calc(50% - 25px);
  text-align: center;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 50px;
  background: linear-gradient(225deg, #8c396e, #76305d);
  box-shadow: -5px 5px 10px #752f5c, 5px -5px 10px #913b72;
}

#rectangle::after {
  content: "Rectángulo";
  cursor: pointer;
  position: absolute;
  right: calc(50% - 75px);
  color: rgba(255, 200, 200);
  top: calc(50% - 25px);
  text-align: center;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 50px;
  background: linear-gradient(225deg, #8c396e, #76305d);
  box-shadow: -5px 5px 10px #752f5c, 5px -5px 10px #913b72;
}

#circle::after {
  content: "Círculo";
  cursor: pointer;
  position: absolute;
  right: calc(50% - 75px);
  color: rgba(255, 200, 200);
  top: calc(50% - 25px);
  text-align: center;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 50px;
  background: linear-gradient(225deg, #8c396e, #76305d);
  box-shadow: -5px 5px 10px #752f5c, 5px -5px 10px #913b72;
}

#square:checked ~ #form-thing div {
  width: 50px;
  height: 50px;
  background: #833567;
  box-shadow: inset -15px 15px 30px #4f203e, inset 15px -15px 30px #b74a90;
}

#rectangle:checked ~ #form-thing div {
  width: 100px;
  height: 50px;
  right: calc(50% - 50px);
  background: #833567;
  box-shadow: inset -15px 15px 30px #4f203e, inset 15px -15px 30px #b74a90;
}

#circle:checked ~ #form-thing div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #833567;
  box-shadow: inset -15px 15px 30px #4f203e, inset 15px -15px 30px #b74a90;
}

#forms #form-thing {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

#forms #form-thing div {
  display: block;
  position: absolute;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
}
