body {
  color: white;
  background: linear-gradient(145deg, #1f1f1f, #242424);
}

header {
  padding: 30px;
}

nav {
  margin-bottom: 30px;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: green;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

nav ul li a:hover {
  color: teal;
  border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(145deg, #1f1f1f, #242424);
  box-shadow: 30px 30px 60px #141414, -30px -30px 60px #303030;
}

main {
  clear: both;
}

#section_one h1 {
  text-align: center;
  margin: 15px;
}

#section_one img {
  display: block;
  min-width: 300px;
  width: 50vw;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 50px;
  background: linear-gradient(145deg, #1f1f1f, #242424);
  box-shadow: 30px 30px 60px #141414, -30px -30px 60px #303030;
}

#section_one ul {
  display: block;
  width: 300px;
  margin: 30px auto;
  padding: 15px 10px 15px 25px;
  border-radius: 50px;
  background: linear-gradient(145deg, #1f1f1f, #242424);
  box-shadow: 30px 30px 60px #141414, -30px -30px 60px #303030;
}

#section_one ul li {
  list-style: armenian inside;
  margin: 10px auto;
}

aside,
footer {
  display: none;
}
